:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
.border {
  border: 2px solid red;
} */

body {
  font-size: 16px;
  color: var(--dark-blue);
  font-family: "Inter", sans-serif;
  width: 100%;

  position: relative;
}

.profile-img {
  width: 250px;
  height: 250px;
  box-shadow: 1px 2px 20px var(--grayish-blue);
}

.border {
  border: 1px solid red;
}

.container {
  width: 100%;
  height: 100vh;
  /* padding: 1.5rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curve {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  z-index: -1;
}

.image-content {
  padding: 0.5rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container {
  background-image: url("./images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: 335px 310px;
  width: 100vw;
  width: 350px;
  padding: 2rem;
}

button {
  padding: 0.8rem 0.5rem;
  border: none;
  box-shadow: 1px 2px 15px var(--grayish-blue);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  width: 80px;
  position: absolute;
  bottom: 13px;
  left: 50%;
  transform: translateX(-50%);
}

button img {
  height: 15px;
}

.content {
  font-size: 1rem;
  margin-top: 4rem;
  line-height: 1.5;
  text-align: center;
  font-weight: 300;
  padding: 1rem;
}

.content img {
  margin-bottom: -45px;
}

.content .name {
  margin-top: 1rem;
  font-weight: 700;
}

.content .role {
  font-weight: 500;
  color: var(--grayish-blue);
}

@media screen and (min-width: 768px) {
  .profile-img {
    width: 500px;
    height: 500px;
    box-shadow: 1px 2px 20px var(--grayish-blue);
  }

  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .image-container {
    background-image: url("./images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    width: 634px;
    padding: 3rem;
    overflow: visible;
  }

  button {
    padding: 1.2rem 0.8rem;
    width: 105px;
    position: absolute;
    bottom: 25px;
    left: 28%;
  }

  button img {
    height: 20px;
  }

  .content {
    text-align: left;
    width: 60%;
    max-width: 620px;
    z-index: 1;
    font-size: 2rem;
    margin-right: -147px;
  }

  .content img {
    margin-left: 75px;
  }

  .name,
  .role {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}
